
# Database
DATABASE_URL="postgresql://username:password@localhost:5432/aulamagica"

# NextAuth.js
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Google OAuth & Calendar API

# Zoom API
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
NEXT_PUBLIC_ZOOM_CLIENT_ID=

# Stripe
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
STRIPE_PRODUCT_ID=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_API=https://api-m.sandbox.paypal.com

MAILERSEND_API_KEY=

